:root {
    --light-color: #fffffa;
    --orange-color: #f5a05c;
    --teal-green-color: #01847f;
    --dark-color: #021718;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
}

/* Navbar */

nav {
    height: 72px;
    background: var(--light-color);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
}

nav .menu-items a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    overflow: hidden;

}

nav .search-icon-container {
    position: relative;
    margin-right: 36px;
    cursor: pointer;
  }

  /* Hero Section */

.hero-section {
  background: var(--orange-color);
  position: relative;
}

.hero-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - 72px);
  margin-top: 72px;

  z-index: 10;
  position: relative;
}

.hero-section h1 {
  font-weight: 900;
  font-size: 64px;
  margin: 0;
}

.hero-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  width: 420px;
}

.hero-section .btn {
  font-size: 20px;
  border-radius: 8px;
  background: var(--teal-green-color);
  padding: 12px 36px;
  color: var(--light-color);
  display: inline-block;

  transition: all 400ms ease;
}

.hero-section .btn:hover {
  transform: translateY(-8px);
}

.hero-section .hero-image-container {
  height: 360px;
  width: 360px;
  position: relative;
  isolation: isolate;
}

.hero-section .hero-image-container img {
  height: 360px;
  width: 360px;
}

.hero-section .hero-image-container .hero-image {
  transition: all 400ms ease;
}

.hero-section .hero-image-container:hover .hero-image {
  transform: rotateZ(-6deg);
}

.hero-section .hero-image-container .hero-image-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 360px;
  background: var(--teal-green-color);
  transform: rotateZ(-6deg);
  z-index: -1;
}

.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.hero-section .social {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 42px;
}

.bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.hero-section .social {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 42px;
}

/* Hidden Item */
